<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/style.min.css">
</head>
<body class="c-app">
    <div class="container">
        <h1>Hello, world!</h1>

        <h1><span class="badge bg-secondary">User list:</span></h1>
        <!-- <% for (let i = 0; i < users.length; i++) { %>
            <% const user = users[i]; %> 
            <div class="user">
                <div> ID: <%= user._id %> </div>
                <div> Username: <%= user.username %> </div>
                <div> Password: <%= user.password %> </div>
            </div>
        <% } %>  -->
        
        <div class="card">
            <div class="card-header"><i class="fa fa-align-justify"></i> Striped Table</div>
            <div class="card-body">
              <table class="table table-responsive-sm table-striped">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <% for (let i = 0; i < users.length; i++) { %>
                    <tr>
                      <% const user = users[i] %>
                      <td> <%= user._id %> </td> 
                      <td> <%= user.username %> </td> 
                      <td> <%= user.password %> </td> 
                      <td><span class="badge badge-success">Active</span></td>
                    </tr>
                    <% } %>
                </tbody>
              </table>
              <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
              </ul>
            </div>
          </div>
    </div>
<body>
</html>